body, .wrapper {
    background-image:url("jakub-sofranko-RoYujmHrdxA-unsplash.jpg");
}
.wrapper {
    min-height: calc(100vh - 26px);
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}
.boxed, #boxed{
    margin:15px;
    background-color:#343a40;
    max-width: 60%;
    border-radius:5px;
    color:rgba(255, 255, 255, .5);
    padding:15px;
    border-radius: 14px;
    background: linear-gradient(315deg, #2f343a, #57585a);
    box-shadow:  -7px -7px 11px #31373d, 7px 7px 11px #373d43;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a, .nav-link{
    color:rgb(255, 255, 255);
}
footer{
    background-color: #343a40;
    text-align:center;
    max-width:100%;
    height:26px;
    color:#FFFFFF80;
    padding-bottom:35px;
    background: linear-gradient(90deg, #57585a, #31373d);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
form {
    padding:15px;
}
.form-group{
    max-width:90%;
}
.navbar, .nav{
    background: linear-gradient(90deg, #31373d, #57585a)
}
img{
    padding:11px;
    max-width: 225px;
}
.col-sm-6{
    border-bottom: solid grey 1px 
}
.bottom, .bottom2{
    border-bottom: none
}
@media (min-width: 100px){
    .boxed{max-width:90%}
    img{max-width:225px}
    #myFace{max-width:180px}
    .bottom{border-bottom: solid grey 1px}

}
@media (min-width: 574px){
    .bottom{border-bottom: none}
}
@media (min-width: 768px) {
    .boxed{max-width:87%}
    img{max-width:327px}
    #myFace{max-width:250px}
    .bottom{border-bottom:none}
}
@media (min-width: 1016px) {
    .boxed{max-width:87%}
    img{max-width:430px}
    #myFace{max-width:327px}
}